html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Oculta el desbordamiento para eliminar el scroll */
}

/* Estilo para el contenedor principal */
.qr-generator-container {
  display: flex;
  height: 75vh; /* Hace que ocupe toda la altura de la ventana */
  overflow: hidden; /* Asegura que no haya desplazamiento */
}

.sidebar{
  width: 200px; /* Ancho del aside */
  background-color: #ffffff;
  color:#fff;
  padding: 20px;
  box-sizing: border-box;
  height: 100%; /* Asegura que el sidebar ocupe toda la altura */
  overflow-y: auto; /* Añade desplazamiento solo al sidebar si es necesario */
}
/* Estilo para el contenedor principal */
.main-container {
    display: flex;
    height: 100vh;
    
  }
  
  /* Estilo para el contenedor del contenido */
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 50px;
    text-align: center;
  }
  .table-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /*lo cambie */
    margin-left: 100px; /* Espacio entre el aside y la tabla */
    max-width: flex; /* no cambiar*/
    max-height: 100vh; /* no cambiar */
    /*AGREGADO*/
    
  }
  .qr-code {
    margin: 0 auto;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .generate-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3C6E71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  /**/
  /* Overlay */
  
  .table-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }

  .estado-button {
    background-color: #1ABC9C;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .estado-button:hover {
    background-color: #17a085;
  }
  
  .add-button {
    background-color: #1ABC9C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Popup content */
  .popup-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Icon container */
  .popup-icon {
    background: #1ABC9C;  
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto -30px auto;
    transform: translateY(-50%);
  }
  
  /* Header */
  .popup-content h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Paragraph */
  .popup-content p {
    margin-bottom: 20px;
  }
  
  /* Button */
  .popup-button {
    background: #1ABC9C;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  .popup-button:hover {
    background: #17a085;
  }
  
  /* Estilos para el mensaje "Lo sentimos" */
  .error-message {
    color: black; /* Texto en negro */
    background: white; /* Fondo rojo */
  }
  
  /* Estilos para el mensaje "Bienvenidos" */
  .success-message {
    color: rgb(78, 78, 78); /* Texto en negro */
    background: #2ECC71; /* Fondo verde */
  }

  /*Content of the visitor*/
/* Importa la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Estilo general del cuerpo para aplicar la fuente Poppins */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff; /* Color de fondo suave */
  color: #333; /* Color de texto suave */
}

/* Estilo para la tabla personalizada, 
   hace que la tabla ocupe el 100% del ancho del contenedor 
   y colapsa los bordes para que se muestren como una sola línea */
.custom-table {
  width: 100%;
  border-collapse: inherit;
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para las celdas de la tabla (th y td),
   agrega padding, 
   un borde de 1px sólido y gris claro, 
   y alinea el texto a la izquierda */
.custom-table th,
.custom-table td {
  padding: 0.5rem; /* Reduce el padding */
  border: 1px solid #ddd;
  text-align: center;
}

/* Estilo específico para las celdas de encabezado de la tabla (th),
   establece un color de fondo gris claro */
.custom-table th {
  background-color:#398f94;
  text-align: center;
  color: #ffffff; /* Color de texto suave */
  font-size: 0.80rem; /* Reduce el tamaño de la letra del encabezado */
}



/* Modificación para centrar el contenedor de la tabla personalizada y ajustar su tamaño */
.custom-table-wrapper {
  color: rgb(78, 78, 78); 
  margin-left: auto; /* Espacio entre el aside y la tabla */
  max-height: 200vh; /* No cambiar */
  justify-content: center; /* Centra horizontalmente el contenido */
  overflow-x: auto; /* Permite el scroll horizontal si es necesario */
  width: 115%; /* Ajusta el ancho del contenedor */
  margin-right: 90px; /* Centra el contenedor horizontalmente */
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para .table-containerinv */
.table-containerinv {   
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 40px 100px;
  border-radius: 8px;
  max-width: 190%; /* no cambiar */
  max-height: 100vh; /* no cambiar */
  box-sizing: border-box;
}

/* Media queries para hacer .table-containerinv responsive */
@media (max-width: 1200px) {
  .table-containerinv {
    padding: 30px 80px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 992px) {
  .table-containerinv {
    padding: 20px 60px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .table-containerinv {
    padding: 15px 40px; /* Ajusta el padding en pantallas más pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .table-containerinv {
    padding: 10px 20px; /* Ajusta el padding en pantallas muy pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas muy pequeñas */
  }
}
.sidebarinv{
  width: 200px; /* Ancho del aside */
  background-color: #ffffff;
  color:#fff;
  padding: 20px;
  box-sizing: border-box;
  height: 100%; /* Asegura que el sidebar ocupe toda la altura */
  overflow-y: auto; /* Añade desplazamiento solo al sidebar si es necesario */
}

.main-containerinv {
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  
}