/*Content of the userpanel*/
.main-container {
  display: flex;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar {
  width: 200px; /* Ancho del aside */
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}

.table-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 100px; /* Espacio entre el aside y la tabla */
  max-width: flex; /* no cambiar*/
  max-height: 100vh; /* no cambiar */
}

.table-wrapper {
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-input {
  padding: 8px;
  width: 100%;
  max-width: 200px; /* Ajusta el ancho máximo */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form {
  padding: 4px;
  width: 110%;
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.form-input {
  padding: 10px;
  width: 22vh;
  display: flex;
  max-width: 110px; /* Ajusta el ancho máximo según sea necesario */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  padding: 10px 10px;
  background-color: #3C6E71;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #3C6E71;
}

/*-------------------VISITHISTORY---------------*/
.filter-inputvisit {
  padding: 8px;
  width: 100%;
  max-width: 200px; /* Ajusta el ancho máximo */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formvisit {
  padding: 4px;
  width: 115%;
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.form-inputvisit {
  padding: 10px;
  width: 25vh;
  display: flex;
  max-width: 150px; /* Ajusta el ancho máximo según sea necesario */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-buttonvisit {
  padding: 8px 5px;
  background-color: #3C6E71;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-buttonvisit:hover {
  background-color: #3C6E71;
}
/* Estilo general del cuerpo para aplicar la fuente Poppins */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff; /* Color de fondo suave */
  color: #333; /* Color de texto suave */
}

/* Estilo para la tabla personalizada, 
   hace que la tabla ocupe el 100% del ancho del contenedor 
   y colapsa los bordes para que se muestren como una sola línea */
.custom-tablevisit {
  width: 100%;
  border-collapse: inherit;
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para las celdas de la tabla (th y td),
   agrega padding, 
   un borde de 1px sólido y gris claro, 
   y alinea el texto a la izquierda */
.custom-tablevisit th,
.custom-tablevisit td {
  padding: 0.5rem; /* Reduce el padding */
  border: 1px solid #ddd;
  text-align: center;
}

/* Estilo específico para las celdas de encabezado de la tabla (th),
   establece un color de fondo gris claro */
.custom-tablevisit th {
  background-color:#398f94;
  text-align: center;
  color: #ffffff; /* Color de texto suave */
  font-size: 0.80rem; /* Reduce el tamaño de la letra del encabezado */
}

/* Modificación para centrar el contenedor de la tabla personalizada y ajustar su tamaño */
.custom-table-wrappervisit {
  color: rgb(78, 78, 78); 
  margin-left: auto; /* Espacio entre el aside y la tabla */
  max-height: 200vh; /* No cambiar */
  justify-content: center; /* Centra horizontalmente el contenido */
  overflow-x: auto; /* Permite el scroll horizontal si es necesario */
  width: 115%; /* Ajusta el ancho del contenedor */
  margin-right: 90px; /* Centra el contenedor horizontalmente */
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para .table-containerinv */
.table-containervisit {   
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 40px 100px;
  border-radius: 8px;
  max-width: 190%; /* no cambiar */
  max-height: 100vh; /* no cambiar */
  box-sizing: border-box;
}

/* Media queries para hacer .table-containerinv responsive */
@media (max-width: 1200px) {
  .table-containervisit {
    padding: 30px 80px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 992px) {
  .table-containervisit {
    padding: 20px 60px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .table-containervisit {
    padding: 15px 40px; /* Ajusta el padding en pantallas más pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .table-containervisit {
    padding: 10px 20px; /* Ajusta el padding en pantallas muy pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas muy pequeñas */
  }
}
.sidebarvisit{
  width: 200px; /* Ancho del aside */
  background-color: #ffffff;
  color:#fff;
  padding: 20px;
  box-sizing: border-box;
  height: 100%; /* Asegura que el sidebar ocupe toda la altura */
  overflow-y: auto; /* Añade desplazamiento solo al sidebar si es necesario */
}

.main-containervisit {
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  
}

/*-------------------security team---------------*/
.main-containerse {
  display: flex;
  height: 100vh;
  padding: 20px;
  width: 120%;
  box-sizing: border-box;
}

.sidebarse {
  width: 200px; /* Ancho del aside */
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}
.filter-inputse {
  padding: 8px;
  width: 60%;
  max-width: 200px; /* Ajusta el ancho máximo */
  margin-bottom: 10px;
  border: 1px solid #3C6E71;
  border-radius: 4px;
}

.formvise {
  padding: 8px 10px;
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.form-inputse{
  padding: 8px 10px;
  display: flex;
  max-width: 145px; /* Ajusta el ancho máximo según sea necesario */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-buttonse {
  padding: 8px 5px;
  background-color: #3C6E71;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-buttonse:hover {
  background-color: #3C6E71;
}
/* Estilo general del cuerpo para aplicar la fuente Poppins */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff; /* Color de fondo suave */
  color: #333; /* Color de texto suave */
}

/* Estilo para la tabla personalizada, 
   hace que la tabla ocupe el 100% del ancho del contenedor 
   y colapsa los bordes para que se muestren como una sola línea */
.custom-tablese {
  width: 100%;
  border-collapse: inherit;
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para las celdas de la tabla (th y td),
   agrega padding, 
   un borde de 1px sólido y gris claro, 
   y alinea el texto a la izquierda */
.custom-tablese th,
.custom-tablese td {
  padding: 0.5rem; /* Reduce el padding */
  border: 1px solid #ddd;
  text-align: center;
}

/* Estilo específico para las celdas de encabezado de la tabla (th),
   establece un color de fondo gris claro */
.custom-tablese th {
  background-color:#398f94;
  text-align: center;
  color: #ffffff; /* Color de texto suave */
  font-size: 0.80rem; /* Reduce el tamaño de la letra del encabezado */
}



/* Modificación para centrar el contenedor de la tabla personalizada y ajustar su tamaño */
.custom-table-wrapperse {
  color: rgb(78, 78, 78); 
  margin-left: auto; /* Espacio entre el aside y la tabla */
  max-height: 200vh; /* No cambiar */
  justify-content: center; /* Centra horizontalmente el contenido */
  overflow-x: auto; /* Permite el scroll horizontal si es necesario */
  width: 115%; /* Ajusta el ancho del contenedor */
  margin-right: 90px; /* Centra el contenedor horizontalmente */
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para .table-containerinv */
.table-containerse {   
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 40px 100px;
  border-radius: 8px;
  max-width: 190%; /* no cambiar */
  max-height: 100vh; /* no cambiar */
  box-sizing: border-box;
}

/* Media queries para hacer .table-containerinv responsive */
@media (max-width: 1200px) {
  .table-containerse {
    padding: 30px 80px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 992px) {
  .table-containerse {
    padding: 20px 60px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .table-containerse {
    padding: 15px 40px; /* Ajusta el padding en pantallas más pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .table-containerse {
    padding: 10px 20px; /* Ajusta el padding en pantallas muy pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas muy pequeñas */
  }
}
.sidebarse{
  width: 200px; /* Ancho del aside */
  background-color: #ffffff;
  color:#fff;
  padding: 20px;
  box-sizing: border-box;
  height: 100%; /* Asegura que el sidebar ocupe toda la altura */
  overflow-y: auto; /* Añade desplazamiento solo al sidebar si es necesario */
}

.main-containerse {
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  
}

/*-------------------Anonimos---------------*/

/* Estilo general del cuerpo para aplicar la fuente Poppins */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff; /* Color de fondo suave */
  color: #333; /* Color de texto suave */
}

/* Estilo para la tabla personalizada, 
   hace que la tabla ocupe el 100% del ancho del contenedor 
   y colapsa los bordes para que se muestren como una sola línea */
.custom-tableAno {
  width: 100%;
  border-collapse: inherit;
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para las celdas de la tabla (th y td),
   agrega padding, 
   un borde de 1px sólido y gris claro, 
   y alinea el texto a la izquierda */
.custom-tableAno th,
.custom-tableAno td {
  padding: 0.5rem; /* Reduce el padding */
  border: 1px solid #ddd;
  text-align: center;
}

/* Estilo específico para las celdas de encabezado de la tabla (th),
   establece un color de fondo gris claro */
.custom-tableAno th {
  background-color:#398f94;
  text-align: center;
  color: #ffffff; /* Color de texto suave */
  font-size: 0.80rem; /* Reduce el tamaño de la letra del encabezado */
}



/* Modificación para centrar el contenedor de la tabla personalizada y ajustar su tamaño */
.custom-table-wrapperAno {
  color: rgb(78, 78, 78); 
  margin-left: auto; /* Espacio entre el aside y la tabla */
  max-height: 200vh; /* No cambiar */
  justify-content: center; /* Centra horizontalmente el contenido */
  overflow-x: auto; /* Permite el scroll horizontal si es necesario */
  width: 115%; /* Ajusta el ancho del contenedor */
  margin-right: 90px; /* Centra el contenedor horizontalmente */
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para .table-containerinv */
.table-containerAno {   
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 40px 100px;
  border-radius: 8px;
  max-width: 190%; /* no cambiar */
  max-height: 100vh; /* no cambiar */
  box-sizing: border-box;
}

/* Media queries para hacer .table-containerinv responsive */
@media (max-width: 1200px) {
  .table-container {
    padding: 30px 80px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 992px) {
  .table-container {
    padding: 20px 60px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .table-container {
    padding: 15px 40px; /* Ajusta el padding en pantallas más pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .table-container {
    padding: 10px 20px; /* Ajusta el padding en pantallas muy pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas muy pequeñas */
  }
}
.sidebarAno{
  width: 200px; /* Ancho del aside */
  background-color: #ffffff;
  color:#fff;
  padding: 20px;
  box-sizing: border-box;
  height: 100%; /* Asegura que el sidebar ocupe toda la altura */
  overflow-y: auto; /* Añade desplazamiento solo al sidebar si es necesario */
}

.main-containerAno {
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  
}
/*---------------------*/
.filter-inputan {
  padding: 8px;
  width: 60%;
  max-width: 200px; /* Ajusta el ancho máximo */
  margin-bottom: 10px;
  border: 1px solid #3C6E71;
  border-radius: 4px;
}

.formvian {
  padding: 8px 10px;
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.form-inputan{
  padding: 8px 10px;
  display: flex;
  max-width: 145px; /* Ajusta el ancho máximo según sea necesario */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-buttonan {
  padding: 8px 5px;
  background-color: #3C6E71;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-buttonan:hover {
  background-color: #3C6E71;
}

/*-----------------------------------------*/
.custom-table {
  width: 100%;
  border-collapse: inherit;
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para las celdas de la tabla (th y td),
   agrega padding, 
   un borde de 1px sólido y gris claro, 
   y alinea el texto a la izquierda */
.custom-table th,
.custom-table td {
  padding: 0.5rem; /* Reduce el padding */
  border: 1px solid #ddd;
  text-align: center;
}

/* Estilo específico para las celdas de encabezado de la tabla (th),
   establece un color de fondo gris claro */
.custom-table th {
  background-color:#398f94;
  text-align: center;
  color: #ffffff; /* Color de texto suave */
  font-size: 0.80rem; /* Reduce el tamaño de la letra del encabezado */
}



/* Modificación para centrar el contenedor de la tabla personalizada y ajustar su tamaño */
.custom-table-wrapper {
  color: rgb(78, 78, 78); 
  margin-left: 90px; /* Espacio entre el aside y la tabla */
  max-height: 200vh; /* No cambiar */
  justify-content: center; /* Centra horizontalmente el contenido */
  overflow-x: auto; /* Permite el scroll horizontal si es necesario */
  width: 115%; /* Ajusta el ancho del contenedor */
  margin-right: 90px; /* Centra el contenedor horizontalmente */
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para .table-containerA */
.table-containerA {   
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 40px 100px;
  border-radius: 8px;
  max-width: 190%; /* no cambiar */
  max-height: 100vh; /* no cambiar */
  box-sizing: border-box;
}

/* Media queries para hacer .table-containerinv responsive */
@media (max-width: 1200px) {
  .table-containerA {
    padding: 30px 80px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 992px) {
  .table-containerA {
    padding: 20px 60px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .table-containerA {
    padding: 15px 40px; /* Ajusta el padding en pantallas más pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .table-containerA {
    padding: 10px 20px; /* Ajusta el padding en pantallas muy pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas muy pequeñas */
  }
}
.sidebarA{
  width: 200px; /* Ancho del aside */
  background-color: #ffffff;
  color:#fff;
  padding: 20px;
  box-sizing: border-box;
  height: 100%; /* Asegura que el sidebar ocupe toda la altura */
  overflow-y: auto; /* Añade desplazamiento solo al sidebar si es necesario */
}

.main-containerA {
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  
}
/*Content of the Userpanel-Admi*/
/* Importa la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Estilo general del cuerpo para aplicar la fuente Poppins */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff; /* Color de fondo suave */
  color: #333; /* Color de texto suave */
}

/* Estilo para la tabla personalizada, 
   hace que la tabla ocupe el 100% del ancho del contenedor 
   y colapsa los bordes para que se muestren como una sola línea */
.custom-table {
  width: 100%;
  border-collapse: inherit;
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para las celdas de la tabla (th y td),
   agrega padding, 
   un borde de 1px sólido y gris claro, 
   y alinea el texto a la izquierda */
.custom-table th,
.custom-table td {
  padding: 0.5rem; /* Reduce el padding */
  border: 1px solid #ddd;
  text-align: center;
}

/* Estilo específico para las celdas de encabezado de la tabla (th),
   establece un color de fondo gris claro */
.custom-table th {
  background-color:#398f94;
  text-align: center;
  color: #ffffff; /* Color de texto suave */
  font-size: 0.80rem; /* Reduce el tamaño de la letra del encabezado */
}



/* Modificación para centrar el contenedor de la tabla personalizada y ajustar su tamaño */
.custom-table-wrapper {
  color: rgb(78, 78, 78); 
  margin-left: auto; /* Espacio entre el aside y la tabla */
  max-height: 200vh; /* No cambiar */
  justify-content: center; /* Centra horizontalmente el contenido */
  overflow-x: auto; /* Permite el scroll horizontal si es necesario */
  width: 115%; /* Ajusta el ancho del contenedor */
  margin-right: 90px; /* Centra el contenedor horizontalmente */
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
}

/* Estilo para .table-containerinv */
.table-containerpa {   
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 40px 100px;
  border-radius: 8px;
  max-width: 190%; /* no cambiar */
  max-height: 100vh; /* no cambiar */
  box-sizing: border-box;
}

/* Media queries para hacer .table-containerinv responsive */
@media (max-width: 1200px) {
  .table-containerpa {
    padding: 30px 80px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 992px) {
  .table-containerpa {
    padding: 20px 60px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .table-containerpa {
    padding: 15px 40px; /* Ajusta el padding en pantallas más pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .table-containerpa {
    padding: 10px 20px; /* Ajusta el padding en pantallas muy pequeñas */
    max-width: 100%; /* Ajusta el ancho máximo en pantallas muy pequeñas */
  }
}
.sidebarpa{
  width: 200px; /* Ancho del aside */
  background-color: #ffffff;
  color:#fff;
  padding: 20px;
  box-sizing: border-box;
  height: 100%; /* Asegura que el sidebar ocupe toda la altura */
  overflow-y: auto; /* Añade desplazamiento solo al sidebar si es necesario */
}

.main-containerpa {
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  
}

